* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {

}

.gallery {
  display: flex;
  flex-direction: column;
}

.top-row, .bottom-row {
  display: flex;
  justify-content: center;
  margin: 50px;
}

img {
  width: 300px;
  height: 298px;
  margin: 10px;
}
.aside {
  background: #acc4fe75;
  width: 150px;
 height: 360vh;
  color: #000000;
  float: left;
}
.button-container {
  text-align: center;
  margin-top: 10px; /* отступ сверху */
}

.button {
  background-color: rgb(166, 218, 229);
  color: white;
  padding: 6px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1px 3px;
  cursor: pointer;
  border-radius: 50px;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}
.container {
  width: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  padding: 10px;
  margin-bottom: 15px;
 
  border-radius: 4px;
}
input[type="datetime-local"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
textarea {
  height: 100px;
}
button {
  background-color: #83a8ff75;
  color: rgb(249, 249, 249);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.test {
  background: #380b1f;
  width: 150px;
  height: 100vh;
  color: #000000;
}


header {
  background: #00020575;
  width: 100%;
  height: 100px;
  color: #000000;
}

.logo {
  display: flex;
  padding: 28px 0 67px 23px;
  margin: 5px;
}

.logo p {
  font-size: 17px;
  font-weight: 400;
}

.logo img {
  width: 50px;
  height: 50px;
}

.aside li {
  list-style-type: none;
  padding-bottom: 20px;
  padding-left: 5px;
}

.aside li:nth-child(4) {
  padding-top: 130px;
}

.aside li a:hover {
  text-decoration: underline;
}

header h1 {
  font-size: 32px;
  font-weight: 300;
  padding: 37px;
}

aside li a {
  text-decoration: none;
  color: #000000;
  font-size: 15px;
  font-weight: 200;
}

.text {
  font-weight: 400;
  line-height: normal;
  margin: 30px;
}

.text,
form,
table {
  position: absolute;
  top: 250px;
  left: 220px;
}
.text1 {
  position: absolute;
  top: 100px;
  left: 220px;
}

.perfumery img {
  width: 300px;
  height: 350px;
  display: block;
  padding-top: 25px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.contact-info {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header {
  background: #bfd4f375;
  width: 100%;
  height: 100px;
  color: #7a97e6;

}
h1 {
  color: #333;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

strong {
  color: #007bff; /* синий цвет */
}

.pvtr {
  margin-left: 20px;
}

.save {
  border-radius: 5px;
  border: 1px solid #83a8ff75;
  background: #83a8ff75;
  width: 200px;
  height: 40px;
  margin: 20px 0px 40px 240px;
  color: #000000
}
.centered-text {
    text-align: center;
}
h3 {
  color: #000;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

fieldset {
  border: 1px solid #000;
  width: 691px;
  padding: 5px;
  margin-bottom: 10px;
}

.form-control {
  width: 600px;
}

form p {
  margin-left: 30px;
}

form .btn {
  margin-left: 30px;
  color: #b7b7b7;
}

input,
select {
  width: 310px;
  height: 45px;
  margin-left: 30px;
}

.wrap {
  /* position: absolute;
  top: 150px;
  left: 250px; */
  background-color: #ffffff75;
  width: 100%;
  margin-left: 150px;
}

.partners-blocks {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 60px auto 80px;
}

.partners-blocks .partners-block {
  width: 387px;
  height: 259px;
  margin-bottom: 15px;
}
.products {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
}

.products-item {
    border: 1px solid brown;
}

/*Текст для услуг*/


.centered-text {
    text-align: center;
}

.centered-text h1 {
    font-size: 2em;
    color: #333;
}

.centered-text p {
    font-size: 1.2em;
    color: #666;
}
.navbar-left {
    margin-left:287px;
    padding-top: 28px;
}
.navbar-left a{
   margin-right: 30px;
   text-decoration: none;
   color: #615F5F;
}

.navbar {
    display: flex;
}

.navbar-right {
    padding-top: 28px;

}
.navbar-right a{
    margin-right: 30px;
    text-decoration: none;
    color: #615F5F;
    padding-top: 28px;
}
.site-header,footer {
    background-color:#C4E5F3 ;
    height: 77px;
}
footer a{
    text-decoration: none;
    color: black;

}
footer p {
    text-align: center;
    text-decoration: none;
    padding-top: 28px;
}


/* страница Профиль */
.media {
  position: absolute;
  top: 50px;
  left: 220px

}

.media > .account-img {
  width: 100px;
  height: 100px;
}


/* Страница с заявками */
.table-orders {
  width: 70%;
  border-collapse: collapse;
  margin: 12px 0;
  font-size: 0,1em;
  font-family: sans-serif;
}

.table-orders thead th {
  background-color: #f2f2f2;
}

.table-orders th, .styled-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table-orders tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}
