{% extends 'project_prj/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<header>
    <h3><i class="fa-solid fa-plus" style="color: blue;"></i></i>Добавление товара</h3>
  </header>
<form method="post">
    
    <fieldset>
        <h3>Новая запись</h3><br>
        {% csrf_token %}
        <label for="index"></label>
        {{ form.name}}
        <label for="Email"></label>
        {{ form.place }}
        <label for="FIO"></label>
        {{ form.price }}
        <label for="phone_number"></label>
        {{ form.square }}
        <button type="submit" class="save">Сохранить</button>
    </fieldset>
</form>

{% endblock %}