{% extends 'project_prj/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<header>
    <h1><i class="fa-regular fa-building fa-beat-fade" style="color: #525dff "></i>О компании</h1>
</header>
<div class="text1">
    <h1>Добро пожаловать на сайт Фотолайв!</h1>

       <p>Про меня:
        Я профессиональная фотограф-Юршевич Дарья с многолетним опытом работы. Специализируется на фотографии природы,<br>
        пейзажей, портретов и событий. Наши работы отличаются высоким качеством, уникальным стилем и вниманием к
        деталям.<br>
<br>
        Портфолио:<br>
        Посмотрите наше портфолио, чтобы увидеть разнообразие моих работ. Я стремлюсь запечатлеть красоту мира<br> в
        каждом кадре и передать эмоции через фотографии.<br>
<br>
        Услуги:<br>
        Я предлагаю широкий спектр услуг, включая фотосъемку свадеб, семейных мероприятий, корпоративных событий<br> и
        других особых моментов. Я также проводим индивидуальные фотосессии и фототуры.<br>
<br>
        Блог:<br>
        Читайте мой блог, чтобы узнать о последних съемках, фотографических техниках, советах по обработке фотографий <br>и
        других интересных темах. Я делюсь своим опытом и знаниями с нашими читателями.<br>
<br>
        Контакты:<br>
        Свяжитесь со  мной, чтобы заказать фотосессию, обсудить сотрудничество или задать вопросы. Я всегда рады новым<br>
        знакомствам и готовы помочь воплотить ваши идеи в жизнь.<br>
        <a href="{% url 'kontakt' %}" class="button">Наши контактные данные</a>
<br>
        Следите за нами:<br>
        Присоединяйтесь к нам в социальных сетях, чтобы быть в курсе всех новостей, акций и специальных предложений.<br> Мы
        ценим вашу поддержку и готовы делиться своим творчеством с миром.<br>
<br>
       <h3> Надеюсь, эта информация поможет вам создать интересное и привлекательное описание сайта фотографа!</h3>

    {% endblock %}